* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.menu-bar {
	background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}

.nav-link {
	font-size: 23px;
	color: #fff !important;
	margin: 6px;
}

.navbar-nav .nav-item a:hover {
	color: rgba(0, 0, 0, .9) !important;
}

.navbar-nav {
	text-align: right;
	margin-right: 20px;
}

.menu-bar .logo .navbar-brand {
	font-size: 30px;
	color: #fff;
}

.menu-bar.navbar-toggler {
	padding-right: 0;
	outline: none;
	border: none;
}